body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
  color: #131313; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #131313; }

h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase; }

.booking {
  display: table;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #d82c2d;
  border-radius: 2px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.25s; }
  .booking:hover {
    background: rgba(216, 44, 45, 0.8); }

.watch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #d82c2d;
  border-radius: 2px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.25s; }
  .watch:hover {
    background: white;
    color: #D82C2D; }
  .watch i {
    font-size: 24px;
    margin-right: 10px; }

section .wrapper {
  display: flex;
  justify-content: center;
  margin-top: 70px; }

.services--section__hero {
  display: none;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 20vh; }
  .services--section__hero h1 {
    margin-bottom: 20px; }
  .services--section__hero h3 {
    margin-bottom: 50px; }
  .services--section__hero .hero-content {
    position: relative;
    height: 532px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); }
    .services--section__hero .hero-content--video {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .services--section__hero .hero-content--overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1; }
      .services--section__hero .hero-content--overlay img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover; }

.services--options {
  position: relative; }

.service-item {
  display: table;
  position: relative;
  width: 367px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 0 -5px;
  overflow: hidden;
  transform: translateY(0px);
  z-index: 1;
  transition: all 0.25s; }
  .service-item:hover {
    transform: translateY(5px);
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2); }
  .service-item:nth-child(2) {
    transform: translateY(-20px);
    z-index: 2; }
    .service-item:nth-child(2):hover {
      transform: translateY(-15px); }
  .service-item__top-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px; }
    .service-item__top-line-1 {
      background-color: #131313; }
    .service-item__top-line-2 {
      background-color: #999999; }
    .service-item__top-line-3 {
      background-color: #D82C2D; }
  .service-item__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase; }
  .service-item__description {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 30px; }
  .service-item__list ul .bullet-navy::before {
    content: url("./bullet-point--navy.svg"); }
  .service-item__list ul .bullet-gray::before {
    content: url("./bullet-point--light.svg"); }
  .service-item__list ul .bullet-red::before {
    content: url("./bullet-point--red.svg"); }
  .service-item__list ul li {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    margin-top: 30px;
    position: relative;
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.25s; }
    .service-item__list ul li::before {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 3px;
      margin-right: 10px;
      left: -24px; }
  .service-item hr {
    height: 2px;
    border: none;
    background-color: #F2F2F2;
    margin-top: 30px;
    margin-bottom: 20px; }
  .service-item__total {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .service-item__total span {
      font-size: 32px; }
  .service-item__book-now {
    display: flex;
    justify-content: center; }

.calculator-shooting span {
  margin-left: 10px; }

.for-free {
  margin-top: 40vh; }
  .for-free h2 {
    margin-bottom: 100px; }
  .for-free--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; }
    .for-free--item__icon {
      background-color: #F2F2F2;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin-bottom: 20px; }
      .for-free--item__icon i {
        font-size: 18px; }
    .for-free--item__title {
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .for-free--item__description {
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: normal;
      line-height: 25px;
      font-size: 14px;
      text-align: center; }

.best-deal {
  position: relative;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .best-deal .row {
    margin-top: 70px; }
  .best-deal .booking {
    position: relative;
    top: 70px;
    margin: 0 auto;
    padding: 20px 90px; }
  .best-deal--item {
    display: flex;
    position: relative;
    margin: 15px 0; }
    .best-deal--item__icon {
      background-color: #D82C2D;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      margin-bottom: 20px;
      position: absolute;
      left: 0;
      top: 0; }
      .best-deal--item__icon i {
        color: #ffffff;
        font-size: 18px; }
    .best-deal--item__description {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: normal;
      line-height: 25px;
      font-size: 14px;
      margin-left: 68px;
      text-align: left; }

.wave-1 {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .wave-1 img {
    position: absolute;
    z-index: -1;
    width: 100vw; }

.wave-2 {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .wave-2 img {
    position: absolute;
    z-index: -1;
    top: 50px;
    width: 100vw; }

.wave-3 {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .wave-3 img {
    position: absolute;
    z-index: -1;
    width: 100vw; }
  .wave-3 .best-deal-man {
    position: absolute;
    width: 744px;
    right: -12vw;
    bottom: 0; }

.faq {
  margin-top: 40vh;
  margin-bottom: 20vh; }
  .faq .wrapper {
    flex-wrap: wrap;
    justify-content: center; }
  .faq--item {
    display: table;
    width: 348px;
    border: 3px solid #131313;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 24px;
    position: relative; }
    .faq--item__title {
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 20px;
      text-transform: uppercase;
      position: absolute;
      background-color: #ffffff;
      left: -3px;
      top: -13px;
      padding-right: 10px;
      padding-bottom: 10px;
      display: table; }
    .faq--item__description {
      padding: 30px;
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      text-align: justify;
      letter-spacing: 0.05em; }

.calculator {
  display: flex;
  margin-left: 4px;
  align-items: center; }
  .calculator--control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgba(242, 242, 242, 0.25);
    margin: 0 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
    .calculator--control__non-active {
      opacity: 0.25;
      cursor: auto; }
    .calculator--control--time {
      margin: 0 5px; }
  .calculator-extra {
    margin-left: 10px;
    color: #d82c2d; }

.toggle {
  display: flex; }
  .toggle span {
    transition: all 0.25s;
    color: #C4C4C4; }
  .toggle-active .instagram-toggle--status {
    background-color: #D82C2D;
    transform: translateX(16px); }
  .toggle-active span {
    color: #D82C2D !important; }

.instagram-optimize {
  display: flex;
  flex-direction: column; }

.instagram-toggle {
  background-color: #F2F2F2;
  width: 40px;
  height: 24px;
  display: flex;
  border-radius: 50px;
  position: relative;
  margin-left: 5px;
  cursor: pointer; }
  .instagram-toggle::before {
    position: absolute;
    left: -85px;
    content: '';
    color: #C4C4C4; }
  .instagram-toggle--status {
    transition: all 0.25s;
    position: absolute;
    background-color: rgba(19, 19, 19, 0.1);
    left: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50px; }
    .instagram-toggle--status__enabled {
      background-color: #D82C2D;
      transform: translateX(16px); }
      .instagram-toggle--status__enabled .instagram-toggle::before {
        color: #D82C2D !important; }
