$color--main: #D82C2D;
$color--navy: #131313;
$color--light-gray: #F2F2F2;
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
    color: $color--navy;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: $color--navy;
}

h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.booking {
    display: table;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba($color: $color--main, $alpha: 1);
    border-radius: 2px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.25s;
    &:hover {
        background: rgba($color: $color--main, $alpha: 0.8);
    }
}

.watch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 274px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba($color: $color--main, $alpha: 1);
    border-radius: 2px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.25s;
    &:hover {
        background: rgba($color: #fff, $alpha: 1);
        color: $color--main;
    }
    i {
        font-size: 24px;
        margin-right: 10px;
    }
}

section .wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.services--section__hero {
    display: none;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 20vh; // height: 100vh;
    h1 {
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 50px;
    }
    .hero-content {
        position: relative;
        height: 532px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        &--video {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &--overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1; // display: none;
            img {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.services--options {
    position: relative; // margin-top: 30vh;
}

.service-item {
    position: relative;
    width: 367px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background: #FFFFFF;
    border-radius: 2px;
    margin: 0 -5px;
    overflow: hidden;
    transform: translateY(0px);
    z-index: 1;
    transition: all 0.25s;
    // background: #131313;
    // color: #ffffff;
    &:hover {
        transform: translateY(5px);
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
    }
    &:nth-child(2) {
        transform: translateY(-20px);
        z-index: 2;
        &:hover {
            transform: translateY(-15px);
        }
    }
    &__top-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        &-1 {
            background-color: #131313;
        }
        &-2 {
            background-color: #999999;
        }
        &-3 {
            background-color: $color--main;
        }
    }
    &__title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    &__description {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: normal;
        line-height: 21px;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        margin-top: 30px;
    }
    &__list {
        ul {
            .bullet {
                &-navy {
                    &::before {
                        content: url('./bullet-point--navy.svg');
                    }
                }
                &-gray {
                    &::before {
                        content: url('./bullet-point--light.svg');
                    }
                }
                &-red {
                    &::before {
                        content: url('./bullet-point--red.svg');
                    }
                }
            }
            li {
                font-family: 'Roboto Mono';
                font-style: normal;
                font-weight: normal;
                line-height: 25px;
                font-size: 14px;
                margin-top: 30px;
                position: relative;
                margin-left: 24px;
                display: flex;
                transition: all 0.25s;
                &::before {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 3px;
                    margin-right: 10px;
                    left: -24px;
                }
            }
        }
    }
    hr {
        height: 2px;
        border: none;
        background-color: $color--light-gray;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    &__total {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        span {
            font-size: 32px;
        }
    }
    &__book-now {
        display: flex;
        justify-content: center;
    }
}

.calculator-shooting span {
    margin-left: 10px;
}

.for-free {
    margin-top: 40vh;
    h2 {
        margin-bottom: 100px;
    }
    &--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        &__icon {
            background-color: $color--light-gray;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            margin-bottom: 20px;
            i {
                font-size: 18px;
            }
        }
        &__title {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        &__description {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: normal;
            line-height: 25px;
            font-size: 14px;
            text-align: center;
        }
    }
}

.best-deal {
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .row {
        margin-top: 70px;
    }
    .booking {
        position: relative;
        top: 70px;
        margin: 0 auto;
        padding: 20px 90px;
    }
    &--item {
        display: flex;
        position: relative;
        margin: 15px 0;
        &__icon {
            background-color: $color--main;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            margin-bottom: 20px;
            position: absolute;
            left: 0;
            top: 0;
            i {
                color: #ffffff;
                font-size: 18px;
            }
        }
        &__description {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: normal;
            line-height: 25px;
            font-size: 14px;
            margin-left: 68px;
            text-align: left;
        }
    }
}

.wave {
    &-1 {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            position: absolute;
            z-index: -1; // top: 170px;
            width: 100vw;
        }
    }
    &-2 {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            position: absolute;
            z-index: -1;
            top: 50px;
            width: 100vw;
        }
    }
    &-3 {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            position: absolute;
            z-index: -1; // top: -170px;
            width: 100vw;
        }
        .best-deal-man {
            position: absolute;
            width: 744px;
            right: -12vw;
            bottom: 0;
        }
    }
}

.faq {
    margin-top: 40vh;
    margin-bottom: 20vh;
    .wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &--item {
        width: 348px;
        border: 3px solid #131313;
        box-sizing: border-box;
        border-radius: 2px;
        margin: 24px;
        position: relative;
        &__title {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 20px;
            text-transform: uppercase;
            position: absolute;
            background-color: #ffffff;
            left: -3px;
            top: -13px;
            padding-right: 10px;
            padding-bottom: 10px;
            display: table;
        }
        &__description {
            padding: 30px;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: justify;
            letter-spacing: 0.05em;
        }
    }
}

// Calculator
.calculator {
    display: flex;
    margin-left: 4px;
    align-items: center;
    &--control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: rgba($color: #F2F2F2, $alpha: .25);
        margin: 0 5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        // color: #ffffff;
        &__non-active {
            opacity: 0.25;
            cursor: auto;
        }
        &__minus {}
        &__plus {}
    &--time {
        margin: 0 5px;
    }
}

&-extra {
    margin-left: 10px;
    color: #d82c2d;
}

}